.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animationContainer {
  width: 200px;
  height: 200px;
}

.fallbackText {
  text-align: center;
  color: #333;
} 